*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	background-image: url("https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/04/0E/ChMkJlxG8VqIGe0JAAuFUf84BuEAAuhjAIJxKsAC4Vp454.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
	/* display: flex;
	text-align: center; */
	display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: -o-box;
  -o-box-orient: horizontal;
  -o-box-pack: center;
  -o-box-align: center;
  
  display: -ms-box;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -ms-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}
	}
a{
	text-decoration: none;
}
.back{
	font-size: 30px;
	color: blueviolet;
}
.table{
	text-align: center;
	font-size: 30px;
	border: 2px solid powderblue;
	font-family: "宋体";
	color: #fff;
}
	
.prefix{
	height: 80px;
}
	
.table-header{
	height: 80px;
}
	
.wo>img{
	width: 100%;
}
