*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url("https://desk-fd.zol-img.com.cn/t_s2880x1800c5/g5/M00/04/0E/ChMkJlxG_ruIR3nAABa65fI7gMMAAuhmQIXEVwAFrr9023.jpg");
	background-repeat: no-repeat;
	backgroud-size: 100%;
	height: 100%vh;
	
}
	
a{
	text-decoration: none;
}
.back{
	font-size: 30px;
	color: blueviolet;
}
.table{
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	border: 2px solid powderblue;
	font-family: "宋体";
}
	
.prefix{
	height: 80px;
}
	
.last{
	width: 1000px;
}
	
.table-header{
	height: 80px;
}
	
.wo>img{
	width: 100%;
}
