*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	background-image: url("https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/04/0E/ChMkJ1xG8UeIerQ0AASk-bbMOvEAAuhjACjNdMABKUR614.jpg");
	background-repeat:repeat-y;
	background-size: 100%;
	display: flex;
	text-align: center;
}
	
.wrapper{
	margin: auto;
}
	
.wrapper .title{
	font-family: "宋体";
	font-size: 50px;
	color: rgba(255,255,255,0.8);
}
	
a{
	text-decoration: none;
	color: #ffff33;
}
	
.wrapper>.title>span{
	font-size: 30px;
	color: #ff3333;
}

	
.blog{
	margin-left: 300px;
	color: #55ff00;
}